- name: Update dependency cache
  ansible.builtin.apt:
    update_cache: yes
    upgrade: dist

- name: Install essential packages
  ansible.builtin.apt:
    name:
    - git
    - gnupg
    - make
    - ufw
    - curl
    - rsync
    state: present

- name: Ensure systemd-timesyncd is installed
  ansible.builtin.apt:
    name: systemd-timesyncd
    state: present
  become: true

- name: Enable timedatectl ntp
  ansible.builtin.service:
    name: systemd-timesyncd.service
    enabled: yes

- name: Configure UFW to allow SSH, HTTP, and HTTPS
  community.general.ufw:
    rule: allow
    proto: tcp
    port: '{{item}}'
  loop:
  - '80'
  - '443'
  - '22'
  tags:
    - molecule-idempotence-notest

- name: Enable UFW
  community.general.ufw:
    state: enabled

# Used in the case of if user is a root user, useful in minimal installation
# SSH by default did not permit any root login, therefore this probbaly only gonna be used during molecule testing, teehee
- name: Create a setup user
  ansible.builtin.include_tasks:
    file: setup-user.yaml
  when: ansible_user == "root" 

- name: Create a user
  ansible.builtin.user:
    name: "{{ hostvars['deploy_user'].ansible_user }}"
    create_home: yes
    generate_ssh_key: yes
    ssh_key_bits: 2048
    ssh_key_file: .ssh/id_rsa
    # We need this to give it actual shell 
    shell: /bin/bash
    # unlock account so SSH can use pubkey auth. JUST IN CASE Pubkey only is enabled, otherwise account will be locked
    password_lock: false
    password: "!"
  register: user_info

- name: Ensure the deploy user account is unlocked
  ansible.builtin.command:
    cmd: "passwd -d {{ hostvars['deploy_user'].ansible_user }}"
  when: not molecule_testing  | default(false)


- name: Show what was returned
  debug:
    var: user_info

- name: Set authorized key taken from file
  ansible.posix.authorized_key:
    user: "{{ hostvars['deploy_user'].ansible_user }}"
    state: present
    key: "{{ user_info.ssh_public_key }}"

- name: Fetch private key to manager
  ansible.builtin.fetch:
    src: "/home/{{ hostvars['deploy_user'].ansible_user }}/.ssh/id_rsa"
    dest: "{{ playbook_dir }}/key/{{ hostvars['deploy_user'].ansible_user }}"
    flat: yes

- name: Fetch public key to manager
  ansible.builtin.fetch:
    src: "/home/{{ hostvars['deploy_user'].ansible_user }}/.ssh/id_rsa.pub"
    dest: "{{ playbook_dir }}/key/{{ hostvars['deploy_user'].ansible_user }}.pub"
    flat: yes

- name: Set permissions on fetched private key
  ansible.builtin.file:
    path: "{{ playbook_dir }}/key/{{ hostvars['deploy_user'].ansible_user }}"
    mode: '0600'
  delegate_to: localhost
  when: not molecule_testing  | default(false)

- name: Set permissions on fetched public key
  ansible.builtin.file:
    path: "{{ playbook_dir }}/key/{{ hostvars['deploy_user'].ansible_user }}.pub"
    mode: '0644'
  delegate_to: localhost
  when: not molecule_testing | default(false)

- name: Check if .gitignore exists
  ansible.builtin.stat:
    path: "{{ playbook_dir }}/.gitignore"
  register: gitignore_check
  delegate_to: localhost
  when: not molecule_testing | default(false)

- name: Create .gitignore if not exist
  ansible.builtin.file:
    path: "{{ playbook_dir }}/.gitignore"
    state: touch
  when:
  - not molecule_testing  | default(false)
  - not gitignore_check.stat.exists
  delegate_to: localhost

- name: Add needed lines to .gitignore
  ansible.builtin.blockinfile:
    path: "{{ playbook_dir }}/.gitignore"
    block: |
      key
      .ansible/
    create: yes
    marker: "# {mark} Tsukatsuki Managed Block"
  delegate_to: localhost
  when: not molecule_testing | default(false)
