services:
  caddy:
    image: caddy:2.10.2-alpine
    restart: unless-stopped
    ports:
    - "80:80"
    - "443:443"
    volumes:
    - ./conf:/etc/caddy
    - caddy_data:/data
    - caddy_config:/config
    depends_on:
      app:
        condition: service_healthy
  postgresql:
    image: postgres:18.0-alpine
    container_name: postgres
    restart: unless-stopped
    # environment:
      # POSTGRES_USER: myuser
      # POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      # POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"

    volumes:
      - postgresql_data:/var/lib/postgresql/data
  redis:
    image: redis:8.2-alpine3.22 
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

  app:
    build:
      context: ../../
      dockerfile: deploy/conf/Dockerfile
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:5500/"]
      interval: 10s
      timeout: 3s
      retries: 3

volumes:
  caddy_data:
  caddy_config:
  postgresql_data:
  redis_data:
